[submodule "sub1"]
	path = sub1
	url = https://github.com/nshun/sub1.git
[submodule "sub2"]
	path = sub2
	url = https://github.com/nshun/sub2.git
[submodule "sub3"]
	path = sub3
	url = https://github.com/nshun/sub3.git
[submodule "sub4"]
	path = sub4
	url = https://github.com/nshun/sub4.git
